@model StreamersAndVideos

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    @{ 
        var slidesAmount = Model.Streamers.Count / 2;
        if (Model.Streamers.Count % 2 == 1)
            slidesAmount++;
    }
    <ol class="carousel-indicators">
        @for (int i = 0; i < slidesAmount; i++)
        {
            <li data-target="#carouselExampleIndicators" data-slide-to="@i" @(i == 0 ? "class='active'" : "")></li>
        }
    </ol>
    <div id="carousel__items-wrapper" class="carousel-inner" style="overflow: initial;">
        @{
            bool isLastSlideSingle = false;
            int lastSlideIndex = Model.Streamers.Count - 1;
            if (Model.Streamers.Count % 2 == 1)
                isLastSlideSingle = true;

            for (int i = 0; i < Model.Streamers.Count; i += 2)
            {
                if (isLastSlideSingle && i == lastSlideIndex)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <div class="row d-flex justify-content-around w-100">
                            <partial name="_ProposeCardPartial" model="new StreamerAndVideos() { Streamer = Model.Streamers[i], Videos = Model.Videos.Where(v => v.UserId == Model.Streamers[i].Id).Take(3).ToList()}" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <div class="row d-flex justify-content-around w-100">
                            <partial name="_ProposeCardPartial" model="new StreamerAndVideos() { Streamer = Model.Streamers[i], Videos = Model.Videos.Where(v => v.UserId == Model.Streamers[i].Id).Take(3).ToList()}" />
                            <partial name="_ProposeCardPartial" model="new StreamerAndVideos() { Streamer = Model.Streamers[i + 1], Videos = Model.Videos.Where(v => v.UserId == Model.Streamers[i + 1].Id).Take(3).ToList()}" />
                        </div>
                    </div>
                }
            }
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
@*@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        var firstCarouselItem = $('#carousel__items-wrapper').children().first()
        firstCarouselItem.addClass('active');
    });
    </script>
}*@