@{
    ViewData["Title"] = "Home Page";
}
@model GamesAndLanguagesViewModel

<div class="text-center pb-3">
    <h1 class="display-4 text-white">Discover streamers of your favourite games!</h1>
    <form id="search-form">
        <div class="d-flex justify-content-center mb-4 font-weight-lighter text-white">
            <div class="form-group m-1">
                <h4 class="text-white font-weight-lighter">Choose Game</h4>
                <select name="gameId" asp-items="@(new SelectList(Model.Games, "Id", "Name"))" class="form-control"></select>
            </div>
            <div class="form-group m-1">
                <h4 class="text-white font-weight-lighter">Choose Language</h4>
                <select name="language" asp-items="Html.GetEnumSelectList<TwitchLanguages>()" class="form-control"></select>
            </div>
        </div>
        <button id="search-form__btn" type="button" class="btn btn-info m-auto">Search</button>
    </form>
</div>
<div id="proposition" class="mt-4"></div>

@section scripts{
<script>
    $('#search-form__btn').on('click', (function () {
        var serializedForm = $('#search-form').serialize();
        $.ajax({
            type: "POST",
            url: "/Home/ProposeStreamers",
            data: serializedForm,
            success: function (response) {
                console.log(response);
                $('#proposition').html(response);
                var firstCarouselItem = $('#carousel__items-wrapper').children().first()
                firstCarouselItem.addClass('active');
            },
            failure: function (response) {
                console.log(response);
            },
            error: function (response) {
                console.log(response);
            }
        });
    }));
</script>
}
